.segment {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;

  p {
    margin: 0;
  }
  .mainInfo {
    width: 140px;
    display: flex;
    flex-direction: column;
  }
  .destination {
    width: 140px;

    display: flex;
    flex-direction: column;
  }
  .stops {
    width: 140px;

    display: flex;
    flex-direction: column;
  }
  &__header {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #a0b0b9;
  }
}
